<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>

Some of the commonly used libraries used by Data Scientists include:
    <li>Pandas
    <LI>Skicit-learn
    <LI>TensorFLOW

Data Science Tools
<table>
        <tr> <td>Python </td></tr>
        <tr> <td>R </td></tr>
        <tr> <td>SQL </td></tr>
   
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
print((3*4)+5) ##This a simple arithmetic expression to mutiply then add integers

17

In [3]:
print(200/60)##This will convert 200 minutes to hours by diving by 60

3.3333333333333335

Objectives:
<UL>To create and edit a notebook
<UL>To work with code
<UL>To reduce our work

<H2>GOKUL PRASATH M